.list-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    padding-top: 60px;

    .header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;

        .title {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;

            .icon {
                width: 30px;
                height: 30px;
                background-color: transparent;
                // background-image: url($acIcon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 60%;
                margin-right: 10px;
            }

            .text {
                text-transform: uppercase;

                span {
                    width: auto;
                    height: auto;
                    padding: 6px 15px;
                    border-radius: 50px;
                    margin-left: 80px;

                    &.high {
                        background-color: #ec4b7b;
                        color: white;
                    }

                    &.low {
                        background-color: #707070;
                        color: white;
                    }
                }
            }
        }
    }

    .body {
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 0px;

        .data-list-item {
            &:nth-child(odd) {
                background-color: #f8f8f8;
            }
        }

        .list-thumbnail {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 10px;

            .left {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .details {
                    * {
                        color: #424242;
                        padding: 3px 5px;
                    }
                    .ref {
                        font-weight: 900;
                        font-size: 14px;
                    }

                    .user-name {
                        color: #424242;
                        font-size: 12px;
                    }

                    .type {
                        color: #424242;
                        font-weight: 900;
                        font-size: 14px;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .status {
                    width: auto;
                    height: auto;
                    border-radius: 50px;
                    padding: 5px 15px;
                    background-color: #f8f8f8;
                    font-size: 10px;
                    margin-bottom: 5px;
                    font-weight: 800;

                    &.pending {
                        background-color: #ffce6580;
                    }

                    &.review {
                        background-color: #ffce65;
                    }
                }

                .date {
                    font-size: 10px;
                    font-weight: 800;
                }
            }
        }
    }
}

.data-grid-column {
    padding: 5px;
    border: none !important;

    &:nth-child(2) {
        .stat-tile {
            background-color: #f2fef9;
        }
    }

    &:nth-child(3) {
        .stat-tile {
            background-color: #f2fef9;
        }
    }
    &:nth-child(4) {
        .stat-tile {
            background-color: #e6eef9;
        }
    }
}

.stat-tile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #faf8f1;

    .top {
        width: 100%;
        height: 80%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            position: relative;
            padding: 6px 20px;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 11px;

            &:before {
                content: "";
                width: 15px;
                height: 15px;
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9Imljb24iIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPgogIDxwYXRoIGQ9Ik04NTQuNiAyODguN2M2IDYgOS40IDE0LjEgOS40IDIyLjZWOTI4YzAgMTcuNy0xNC4zIDMyLTMyIDMySDE5MmMtMTcuNyAwLTMyLTE0LjMtMzItMzJWOTZjMC0xNy43IDE0LjMtMzIgMzItMzJoNDI0LjdjOC41IDAgMTYuNyAzLjQgMjIuNyA5LjRsMjE1LjIgMjE1LjN6TTc5MC4yIDMyNkw2MDIgMTM3LjhWMzI2aDE4OC4yek01MTIgNzg0YTQwIDQwIDAgMSAwIDAtODAgNDAgNDAgMCAwIDAgMCA4MHptMzItMTUyVjQ0OGE4IDggMCAwIDAtOC04aC00OGE4IDggMCAwIDAtOCA4djE4NGE4IDggMCAwIDAgOCA4aDQ4YTggOCAwIDAgMCA4LTh6Ii8+Cjwvc3ZnPgo=");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        .count {
            position: relative;
            padding: 6px 0;
            font-size: 30px;
        }
    }

    .bottom {
        width: 100%;
        height: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;

        .percentage {
            font-size: 10px;
            display: flex;
            align-items: center;

            .icon-bg {
                width: auto;
                height: auto;
                border-radius: 20px;
                margin-left: 10px;
                padding: 2px;

                .icon-placeholder {
                    background-color: transparent;
                    width: 12px;
                    height: 12px;
                    

                    .icon {
                        width: 100%;
                        height: 100%;
                        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9Imljb24iIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPgogIDxwYXRoIGQ9Ik04NjggNTQ1LjVMNTM2LjEgMTYzYTMxLjk2IDMxLjk2IDAgMCAwLTQ4LjMgMEwxNTYgNTQ1LjVhNy45NyA3Ljk3IDAgMCAwIDYgMTMuMmg4MWM0LjYgMCA5LTIgMTIuMS01LjVMNDc0IDMwMC45Vjg2NGMwIDQuNCAzLjYgOCA4IDhoNjBjNC40IDAgOC0zLjYgOC04VjMwMC45bDIxOC45IDI1Mi4zYzMgMy41IDcuNCA1LjUgMTIuMSA1LjVoODFjNi44IDAgMTAuNS04IDYtMTMuMnoiLz4KPC9zdmc+Cg==");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        filter: saturate(100%) brightness(0%) invert(100%);
                    }
                }

                &.up {
                    background-color: #52c4c9;
                }

                &.down {
                    background-color:  #db7a7a;

                    .icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .stat-btn {
            margin: 0;
        }
    }
}
